html,body {
	margin:0;
	padding:0;
	height:100%;
  background-color: #74AFAD;
}

#wrapper {
	min-height:100%;
	position:relative;
}

.header{
	font-family: 'Oswald', sans-serif;
  text-align: center;
  border-bottom: 1px solid grey;
  background-color: #558C89;
  padding: 10px;
  color: #ECECEA;
}

a{
  padding: 25px;
  color: #ECECEA;
}

a:visited{
	color: blue;
}

a:hover{
  text-decoration: underline;
  font-weight: bold;;
}

a:active{
	text-decoration: none;
}


#content {
	padding-bottom:100px;
  padding-top: 75px;
  background-color: #74AFAD;
  text-align: center;
}

.footer{
  text-align: center;
  border-top: 1px solid grey;
  background-color: #558C89;
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
  color: #ECECEA;
}

.jumbotron{
	margin: auto;
	padding: 15px;
	text-align: center;
}

ul{
	background-color: #D9853B;
}

#js_disabled_message{
	text-align: center;
	font-weight: bold;
	color: red;
}
